html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
}

input::-ms-reveal,
      input::-ms-clear {
        display: none;
	}

#root {
	height: 100%;
	min-height: 100%;
}

.entry {
	position: relative;
	min-height: 100%;
	background-color: #32358F;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.css-1k51tf5-MuiTooltip-tooltip{
	color: #333333;
	font-size: 13px;
	font-family: 'Exo 2';
	background-color: white !important;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.css-kudwh-MuiTooltip-arrow {
	color: white !important;
	z-index: 1;
}

.rounded-bottom-drawer {
	border-radius: 8px 8px 0px 0px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	background: #CCD1D6;
}